// Common styles of the project

html,
body {
  font-family: 'Lato-Semibold';
  font-size: 16px;

  height: 100%;
  min-height: 100vh;

  background: url(%=static=%general/bg.jpg) no-repeat center;
  background-size: cover;
}
